<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/reviews.css">
    <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>
<body>
<header th:insert="blocks/blog-main.html::header"></header>
<div class="comment_row ">
    <h2>
        Велосипед Кроссер
    </h2>
    <div class="comment_header">
        <span class="avatar">
        <span class="author_name"> <ins>
            <span class="reviewer">Андрій</span>
        </ins>
        </span>
        </span>
    </div>
    <span class="comment description">
        <span class="review-snippet"> Купив тут велосипед. Приїхав він в коробці. Зібрав сам. В деяких питаннях допомогли консультанти. Рекомендую. </span>
    </span> <div class="comment_stats"> <span class="rating"><span class="value-title" title="5">

</span></span> </div> </div>
</body>
</html>